.gal_h {
  color: rgb(8, 51, 87);
  text-shadow: rgb(70, 113, 145) 2px 2px 2px;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 1em;
  font-family: 'Ubuntu', sans-serif;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images fill their containers while maintaining aspect ratio */
}
.gal_con{
  margin-bottom: 60px;
    padding: 60px;
    overflow: hidden;
  }

